<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- The entry point of our Flask application -->
    <add key="WSGI_HANDLER" value="production.app" />
    
    <!-- The path to our project -->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\production" />
    
    <!-- Optional: For debugging on IIS -->
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\production\logs\wfastcgi.log" />
  </appSettings>
    <system.webServer>
        <handlers>
            <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\production\.venv\Scripts\python.exe|C:\inetpub\wwwroot\production\.venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>